*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    margin: 15px;
    background:linear-gradient(45deg,rgb(238,255,255),rgb(251,255,212)) ;
    font-family: Helvetica;
}
.whole{
    flex-direction: row;
    flex-wrap: wrap;
    display: flex;
    gap: 3rem;
}
.top{
    height: 50px;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10px;
    margin-bottom: 1rem;
    border-radius: 5px;
}
a{
    text-decoration: none;
    color: #000;
}
.nav{
    display: flex;
    gap: 1rem;
    align-items: center;
}
.link{
    display: flex;
    gap: 11px;
}
.icon{
    width: 15px;
    height: 15px;
}
.container{
    width: 250px;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
}
.line{
    display: flex;
    justify-content: space-between;
    padding: 1rem 0;
}
.name{
    font-size: 20px;
    font-weight: bolder;
    padding-top: 10px;
}
.country{
    font-weight: 100px;
    color: grey;
    padding-top: 5px;
}
.image{
    height: 30px;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: rgb(235, 229, 221);
}
.first{
    display: flex;
    flex-direction: row;
    gap: 1rem;
}
.second{
    background-color: rgb(251, 255, 212);
    justify-content: center;
    display: flex;
    align-items: center;
    height: 30px;
    width: 100px;
    border-radius: 20px;
    color: rgb(109, 106, 106);
    font-size: small;
    border: 0;
}
.film{
    font-weight: bold;
    font-size: 15px;
    padding-top: 7px;
}
.nos{
    font-weight: bold;
    padding: 7px 0 0 45px;
}
button{
    height: 50px;
    width: 150px;
    border-radius: 10px;
    display: flex;
    gap: 5px;
    justify-content: center;
    align-items: center;
    border: 0;
    background-color: rgb(235, 229, 221);
}
.line4{
    display: flex;
    justify-content: center;
}
.shelby{
    width: 70px;
    height: 70px;
    border-radius: 5px;
    object-fit: cover;
    object-position: top;

}
.avatar{
    height: 40px;
    width: 50px;
    border-radius: 5px;
    object-fit: cover;
}
.adam{
    height: 40px;
    width: 40px;
    border-radius: 50%;
}
.avatar:hover{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: #ff9f31 3px solid;
}
a:hover{
    color: #dc143c;
}
button:hover{
    color: #fff;
    background-color: #ff9f31;
}
.image:hover{
    background-color: #ff9f31;
    color: #dc143c;
}